.App {
  text-align: center;
  background-color: #e7e7e7;
  height: 100vh;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 576px) {
  .ant-picker-panels {
    flex-direction: column;
    /* position: absolute;
    z-index: 99999999999999999; */
  }
}

.App-header {
  background-color: darkgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: darkgrey;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  font-weight: bold;
}
.label {
  font-weight: bold;
}
